body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
    ul.menu{
        background-color: black;
        padding: 10px;
        text-align: center;
        margin: 0;
    }

    li.menu-1{
      font-size: 30px;
      list-style-type: none;
      display: inline;
      padding: 10px;
      font-weight: 700;
    }
    li.menu-1 a{
      color: white;
      text-decoration: none;
      
    }
    li.menu-1 a:hover{
      color: rgb(73, 152, 163);
    }

    .Tittle{
      text-align: center;
      color: antiquewhite;
      font-size: 50px;
      padding-top: 20px;
      padding-bottom: 20px;
      text-transform: uppercase;
      font-weight: 700;
    }
    .Paragra{
      font-size: 22px;
      color: antiquewhite;
      padding-top: 20px;
      text-align: center; 
    }
    .about{
      background-color: #FADC32;
      text-align: center;
      height: 70vh;
    }
    .Paragraphe{
      font-size: 22px;
      color: antiquewhite;
      text-align: justify;
    }
    .work{
      background-color:#A55AFF;
      height: 70vh;
      padding: 1px;
    }
    .row-work{
      display: flex;
      align-items: center;
      justify-content:center;
    }
   .img-work{
    width: 80%;
   }
   .resume{
    background-color: #28AAFF;
    height: 70vh;
    padding: 1px;
   }
   .row-resume{
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .contact{
    background-color: #E60A14;
    height: 100vh;
   }
   .Tittle-1 {
    color: white;
    font-size: 30px;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-weight: 700;
   }
   input[type=text], select, textarea{
    width: 100%;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 10px;
    margin-top: 8px;
    margin-bottom: 15px;
   }
   form {
    background-color: white;
    padding: 20px;
    border: 2px solid antiquewhite;
    border-radius: 20px;
   }
   label {
    color: black;
    font-size: 20px;
   }
   input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer
   }

   input[type=submit]:hover {
    background-color: #12c51a;
   }

   .footer{
    background-color: black;
    text-align: center;
    text-transform: uppercase;
    height: 70vh;
   }

   ul{
        background-color: black;
        padding: 10px;
        text-align: center;
        margin: 0;
    }

    li{
      font-size: 18px;
      list-style-type: none;
      padding: 10px;
      font-weight: 700;
    }
    li a{
      color: white;
      text-decoration: none;
    }
    li a:hover{
      color: coral;
    }
    .Tittle-2{
      color: white;
      font-size: 30px;
      padding:20px;
      text-transform: uppercase;
      font-weight: 700;
    }
    address{
      font-size: 23px;
      padding: 16px;
    }
    address a {
      color: white;
      text-decoration: none;
      text-transform: lowercase;
      font-weight: 700;
    }

    address a:hover{
      color: coral;
    }